* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
}

.icon-link {
    transition: transform 0.2s ease;
}

.icon-link:hover {
    transform: scale(1.1);
}

.icon-link:hover box-icon {
    color: #f59e0b;
}

.accent-border {
    border-color: #f59e0b;
}

.accent-shadow {
    box-shadow: 0 0 15px 0 rgba(245, 158, 11, 0.5);
}

/* Interests panel animations */
#main-content {
    transition: transform 0.5s ease-in-out;
}

#interests-panel {
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#mobile-interests-panel {
    transition: opacity 0.5s ease-in-out;
}

/* States for showing interests */
.show-interests #main-content {
    transform: translateX(var(--shift-distance, 0));
}

.show-interests-mobile #main-content {
    transform: translateY(-100vh);
}

.show-interests #interests-panel {
    opacity: 1;
}

.show-interests-mobile #mobile-interests-panel {
    opacity: 1;
}
